body { color: blue; }

#LogoCab{
	margin-left: 70%;
}

h3 {
	/*
	border-radius: 10px 10px 10px 10px;;
	color: blue;
	background-color: yellow;
	*/
	border: 1px solid gray; 
	background: rgb(50,50,5); 
	background-color: yellow;
	color: blue;
	text-align:center;
	border-radius: 2em ;
	top:0px;
	left:0px;
	width:100% ;
}

.par1 {
	margin-left: 1em;
}
.par2 {
	margin-left: 2em;
}
.par3 {
	margin-left: 3em;
}

table {
	border-style: solid;
}

td {
	border-style: groove;
}